.icon-size {
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.settings__setting {
    padding: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__setting i {
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}

.settings-list {
    border-bottom: var(--main-border);
    padding-bottom: 25px;
}

.border {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}